@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");

@import url("/utils/padding-utils.css");
@import url("/utils/flex-utils.css");
@import url("/utils/text-utils.css");

@import url("/typography.css");

@import url("/components/Alert/alert.css");
@import url("/components/Avatar/avatar.css");
@import url("/components/Badge/badge.css");
@import url("/components/Button/button.css");
@import url("/components/Card/card.css");

@import url("/components/Image/image.css");
@import url("/components/Input/input.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-spacing: 1px;
  line-height: 1.5rem;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --basic: #dbd9d9;
  --primary: #19456b;
  --primary-hover: #133e64;
  --secondary: #16c79a;
  --secondary-hover: #0eb98f;
  --primary-color: #131313;
  --secondary-color: #3cca89;
  --tertiary-color: #19b49a;
  --white: #ffffff;
  --light-gray: #f0f0f0;
  --dark-gray:#747474;
  --success: #52e252;
  --info: #1863c5;
  --warning: #f7cc42;
  --warning-text: #a15e05;
  --danger: #fc2424;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #313131;
}

.flex-column{
  display: flex;
  flex-flow: column wrap;
}

iframe {
  width: 100% !important;
}

main {
  padding: 2rem;
}

/* ---colors */

.primary{
  background-color: var(--primary);
  color: var(--white);
}


.success{
  background-color: var(--success);
  color: var(--white);
}

.info{
  background-color: var(--info);
  color: var(--white);
}

.warning{
  background-color: var(--warning);
  color: var(--warning-text);
}

.danger{
  background-color: var(--danger);
  color: var(--white);
}


