.component-heading {
    /* border-top: 2px solid var(--light-gray); */
    padding-bottom: 1rem;
  }
  
  .component-body {
    border-top: 2px solid var(--light-gray);
    border-bottom: 2px solid var(--light-gray);
    padding-top: 1rem;
  }
  
  .component-example-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    border: 4px solid var(--light-gray);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
  }

  /* ------ below code is just for pull requests (will delete later) ------ */
.main{
    padding: 0 4rem;
  }
  
  .component-heading{
    padding: 4rem 0;
  }
  