.input-field {
    position: relative;
    max-width: 22rem;
    margin: 1.5rem auto;
}

.input {
    background: var(--light-gray);
    font-size: 16px;
    padding: 0.6rem 0.4rem;
    display: block;
    width: 100%;
    border: none;
    border-radius: 2px 2px 0 0;
    border-bottom: 2px solid #c6c6c6;
}

.input:focus{
    outline: none;
}

.input:focus ~ .placeholder , .input:valid ~ .placeholder {
    top: -1.2rem;
    font-size: 12px;
    /* font-weight: bold; */
}

.input:focus ~ .bar:before, .input:valid ~ .bar:before {
    width: 100%;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: var(--secondary);
    transition: 300ms ease all;
    left: 0;
}


.placeholder {
    color: #858585;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 1rem;
    transition: 300ms ease all;
}


/* ------------------------- Error ---------------------- */

.error-msg{
    position: absolute;
    font-size: small;
    left: 5px;
    color: var(--danger);
}

.input.error ~ .bar:before {
    background: var(--danger);
}

.input.error {
    border-bottom: 2px solid var(--danger);
}

/* ------------------------- textarea ------------------ */

.textarea {
    resize: none;
    min-height: 10rem;
    padding-top: 1rem;
}
