.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-lg{
    width: 10rem;
    height: 10rem;
    font-size: 3rem;
}

.size-md{
    width: 6rem;
    height: 6rem;
    font-size: 2rem;
}

.size-sm{
    width: 3rem;
    height: 3rem;
}

.rounded{
    border-radius: 50%;
}

.squared{
    border-radius: 1rem;
}

.named{
    display: flex;
    align-items: center;
}
