
.alert{
    border-radius: 4px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.alert-link{
    color: var(--white-color);
}

.fa-times{
    cursor: pointer;
}
