.button {
    color: #474747;
    font-size: 0.85rem;
    font-weight: 600;
    text-decoration: none;
    border: unset;
    border-radius: 4px;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: var(--basic);
    text-transform: uppercase;
}


.button-anchor {
    color: var(--dark-black);
    background-color:var(--basic);
}


/* ----------- Inverted Buttons ----------- */

.inverted-primary {
    color: var(--primary);
    border: 1px solid var(--primary);
    background-color: transparent;
}

.inverted-primary:hover, .inverted-primary:focus {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--white);
}

.inverted-secondary {
    color: var(--secondary);
    border: 1px solid var(--secondary);
    background-color: transparent;
}

.inverted-secondary:hover, .inverted-secondary:focus {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--white);
}

.inverted-success {
    color: var(--success);
    border: 1px solid var(--success);
    background-color: transparent;
}

.inverted-success:hover, .inverted-success:focus {
    background-color: var(--success);
    border: 1px solid var(--success);
    color: var(--success-text);
}

.inverted-info {
    color: var(--info);
    border: 1px solid var(--info);
    background-color: transparent;
}

.inverted-info:hover, .inverted-info:focus {
    background-color: var(--info);
    border: 1px solid var(--info);
    color: var(--white);
}

.inverted-warning {
    color: var(--warning-text);
    border: 1px solid var(--warning-text);
    background-color: transparent;
}

.inverted-warning:hover, .inverted-warning:focus {
    background-color: var(--warning);
    border: 1px solid var(--warning);
    color: var(--warning-text);
}

.inverted-danger {
    color: var(--danger);
    border: 1px solid var(--danger);
    background-color: transparent;
}

.inverted-danger:hover, .inverted-danger:focus {
    background-color: var(--danger);
    border: 1px solid var(--danger);
    color: var(--white);
}

/* ---------------- Disabled Button ------------- */

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* ----------------- Floating Button --------------- */

.floating {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    z-index: 1;
}
