.list-group-item {
    border: 1px solid var(--border-color);
    list-style: none;
    padding: 0.5rem 1rem;
    font-family: inherit;
}

.list-group-item + .list-group-item {
    border-top-width: 0;
}

.list-group-item:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-group-item:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.disabled-item {
    color: var(--dark-gray);
    pointer-events: none;
}

.list-group-roman > .list-group-item{
    list-style: lower-roman;
    border: 0;
}

.list-group-alpha > .list-group-item{
    list-style: lower-alpha;
    border: 0;
}

.list-heading {
    justify-content: space-between;
}