.modal {
    background: var(--white);
    border-radius: 4px;
    min-width: 30rem;
    max-width: 35rem;
}

.basic-modal,
.form-modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--overlay);
    z-index: 1;
}

.modal-heading {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2rem 1.5rem 1.5rem;
}

.modal-body {
    font-size: 1.1rem;
}