header {
    border-bottom: 2px solid var(--light-gray);
    padding: 1rem 1rem 0.5rem 0.5rem;
    top: 0;
    justify-content: space-between;
}

.navbar-section {
    display: flex;
    align-items: center;
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-link {
    color: var(--primary);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.navbar-search-icon,
.myhamburger {
    cursor: pointer;
}

.myhamburger {
    display: none;
}

.navbar-searchbar {
    position: relative;
    flex-grow: 1;
    border: 2px solid var(--light-gray);
    border-radius: 5px;
    display: none;
}

.search-input {
    border: unset;
    font-size: 1rem;
    padding: 0.5rem;
    padding-left: 4rem;
    width: 100%;
    outline: none;
}

.searchbar-search-icon,
.searchbar-close-icon {
    cursor: pointer;
    position: absolute;
    top: 0.75rem;
    font-size: 1.1rem;
    color: var(--primary);
}

.searchbar-search-icon {
    left: 1.4rem;
}

.searchbar-close-icon {
    right: 1rem;
}

.navbar-icon-link {
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-icon-text {
    font-size: small;
}

.icon-badge {
    top: -0.7rem;
}

@media screen and (max-width: 860px) {

    .navbar-icon-link {
        font-size: 1rem;
        padding: 0 0.5rem;
    }

    .navbar-link {
        margin-left: 1rem;
        font-size: small;
    }

    .badge-value {
        height: 1rem;
        width: 1rem;
        font-size: small;
    }

    .logo-img {
        height: 2.5rem;
        width: 4rem;
    }

    .navbar-logo {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 720px) {
    .myhamburger {
        display: block;
        margin-left: 1rem;
    }

    .navbar-link {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .navbar-section > .navbar-icon:nth-child(2), .navbar-section > .navbar-icon:nth-child(3){
        display: none;
    }
}
/* --------------------------drawer---------------------- */
.drawer-container {
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 1rem;
    width: 16.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-style {
    list-style: none;
}

.list-item {
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.6rem;
    width: 100%;
}

.list-item:hover {
    background-color: var(--light-gray);
}

.chevron-buttons {
    margin-left: auto;
}

.list-item.active {
    color: var(--info);
    background-color: var(--info-hover);
}

.list-item chevron-buttons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2.4em;
    right: 2em;
    cursor: pointer;
    font-size: 0.8em;
    border: unset;
    background-color: transparent;
}

.fa-chevron-up,
.nested-items {
    display: none;
}

.list-item.active .fa-chevron-up {
    display: block;
}

.list-item.active .fa-chevron-down {
    display: none;
}