.toast {
    background: var(--theme-bg);
    border-radius: 4px;
    box-shadow: 1px 1px 10px var(--shadow);
    width: 25rem;
}

.toast-close,
.icon-toast-close {
    border-radius: 50%;
    background: var(--border-color);
    padding: 0.25rem 0.65rem;
}

.simple-toast-container,
.icon-toast-container {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
}

@media screen and (max-width: 480px) {

    .simple-toast-container,
    .icon-toast-container {
        right: unset;
    }

    .toast {
        padding: 1rem;
        width: 22rem;
    }
}