p{
    font-size: 1rem;
    margin: 0.625rem 0;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
    margin: 1rem 0;
    line-height: 1.2;
    font-weight: 700;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.5rem;
}

h5{
    font-size: 1.25rem;
}

h6{
    font-size: 1.1rem;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}


@media screen and (max-width: 768px){
    
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.75rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h4, h5, h6{
        font-size: 1.25rem;
    }
}