.border-0 {
    border: none;
}

.border-1{
    border: 1px solid var(--border-color);
}

.border-2{
    border: 2px solid var(--border-color);
}

.border-top-0 {
    border-top: 0px solid var(--border-color);
}

.border-bottom-0 {
    border-bottom: 0px solid var(--border-color);
}

.border-left-0 {
    border-left: 0px solid var(--border-color);
}

.border-right-0 {
    border-right: 0px solid var(--border-color);
}

.border-top-1 {
    border-top: 1px solid var(--border-color);
}

.border-bottom-1 {
    border-bottom: 1px solid var(--border-color);
}

.border-left-1 {
    border-left: 1px solid var(--border-color);
}

.border-right-1 {
    border-right: 1px solid var(--border-color);
}

.border-top-2 {
    border-top: 2px solid var(--border-color);
}

.border-bottom-2 {
    border-bottom: 2px solid var(--border-color);
}

.border-left-2 {
    border-left: 2px solid var(--border-color);
}

.border-right-2 {
    border-right: 2px solid var(--border-color);
}