.flex-row{
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* ---------- wrap ------------ */
.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* ----------- alignement------------ */

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.items-start {
    align-items: flex-start;
}

.items-baseline {
    align-items: baseline;
}

.items-stretch {
    align-items: stretch;
}
