.flex-row, .flex-row-center{
    display: flex;
}

.flex-column, .flex-column-center {
    display: flex;
    flex-direction: column;
}

/* ---------- wrap ------------ */
.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* -----------items- alignment------------ */

.items-center, .flex-column-center, .flex-row-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.items-start {
    align-items: flex-start;
}

.items-baseline {
    align-items: baseline;
}

.items-stretch {
    align-items: stretch;
}

/* -----------------------content-alignment-------------- */

.content-center, .flex-column-center, .flex-row-center {
    justify-content: center;
}

.content-end {
    justify-content:flex-end
}

.content-start {
    justify-content: flex-start;
}

.content-baseline {
    justify-content: baseline;
}

.content-stretch {
    justify-content: stretch;
}

/* ------------------flex gap--------------------------- */
.gap-0p5{
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-1p5 {
    gap: 1.5rem;
}

.gap-2{
    gap: 2rem;
}