.flex-row{
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* ---------- wrap ------------ */
.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* ----------- alignment------------ */

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.items-start {
    align-items: flex-start;
}

.items-baseline {
    align-items: baseline;
}

.items-stretch {
    align-items: stretch;
}

/* ------------------flex gap--------------------------- */
.gap-0p5{
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-1p5 {
    gap: 1.5rem;
}

.gap-2{
    gap: 2rem;
}