.m-0 {
    margin: 0;
}

.m-auto{
    margin: auto;
}

.m-0p5 {
    margin: 0.5rem;
}

.m-1 {
    margin: 1rem;
}

.m-1p5 {
    margin: 1.5rem;
}

.m-2 {
    margin: 2rem;
}

.m-2p5 {
    margin: 2.5rem;
}

.m-3 {
    margin: 3rem;
}

.m-3p5 {
    margin: 3.5rem;
}

.m-4 {
    margin: 4rem;
}

.m-4p5 {
    margin: 4.5rem;
}

.m-5 {
    margin: 5rem;
}

/* ---------------- margin-x-axis -------------------*/
.mx-0 {
    margin-right:0 ;
    margin-left: 0;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.mx-0p5 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.mx-1 {
    margin-right: 1ren;
    margin-left: 1rem;
}

.mx-1p5 {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.mx-2 {
    margin-right: 2rem;
    margin-left: 2rem;
}

.mx-2p5 {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}


/* ---------------- margin-y-axis -------------------- */
.my-0 {
    margin-top:0 ;
    margin-bottom: 0;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.my-0p5 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-1 {
    margin-top: 1ren;
    margin-bottom: 1rem;
}

.my-1p5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-2p5 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}


/* ---------------- margin-top ------------------ */

.mt-0 {
    margin-top: 0;
}

.mt-0p5 {
    margin-top: 0.5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-1p5 {
    margin-top: 1.5rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-2p5 {
    margin-top: 2.5rem;
}

/* -------------------------------- margin-bottom ------------------------ */
.mb-0 {
    margin-bottom: 0;
}

.mb-0p5 {
    margin-bottom: 0.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-1p5 {
    margin-bottom: 1.5rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-2p5 {
    margin-bottom: 2.5rem;
}

/* -------------------------- margin-left --------------------- */
.ml-0 {
    margin-left: 0;
}

.ml-0p5 {
    margin-left: 0.5rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-1p5 {
    margin-left: 1.5rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-2p5 {
    margin-left: 2.5rem;
}
/* ---------------------------- margin-right ---------------------- */

.mr-0 {
    margin-right: 0;
}

.mr-0p5 {
    margin-right: 0.5rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-1p5 {
    margin-right: 1.5rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-2p5 {
    margin-right: 2.5rem;
}
